.navWrapper {
    width: 100%;
    font-family: 'Manrope', sans-serif;
    position: relative;
}

.topBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    padding: 8px 100px;
}



.leftside {
    display: flex;
    gap: 5px;
}

.searchContainer {
    position: relative;
    max-width: 400px;

}

.searchInput {
    width: 100%;
    padding: 10px 40px 10px 15px;
    border: 1px solid #ccc;
    border-radius: 999px;
    font-size: 14px;
}

.searchIcon {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #555;
    cursor: pointer;
}


.contactBtn {
    background-color: #0A1F44;
    color: white;
    padding: 10px 20px;
    border-radius: 999px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;

    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 40px;       */
}



.line {
    position: absolute;
    left: 0;
    right: 0;
    border-bottom: 1px solid #DCDCDC;
}


.menuBar {
    padding: 20px 120px;
    background: var(--background);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 4px -2px rgba(10, 31, 68, 0.3);

}


.menuItem {
    position: relative;
    font-weight: 400;
    font-style: normal;
    line-height: 100%;
    letter-spacing: 0;
    cursor: pointer;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menuLink, .menuIcon {
    text-decoration: none;
    color: #0A1F44;
    font-size: 16px;
}

.caret {
    transition: transform 0.3s ease;
    margin-left: 2px;
}

.caretIsOpen {
    transform: rotate(180deg);
}

.dropdown {
    position: absolute;
    top: 37px;
    left: 50%;
    z-index: 1000;
    transform: translateX(-50%);
    width: 200px;
    min-width: 180px;
    background-color: #fff;
    box-shadow: 0 4px 12px rgba(141, 97, 97, 0.1);

    padding: 8px 0;

    display: flex;
    flex-direction: column;
}

/* Dropdown link styles */
.dropdown a {
    padding: 10px 12px;
    text-decoration: none;
    color: #0A1F44;
    font-size: 14px;
    transition: background-color 0.2s ease;
}

.dropdown a:hover {
    background-color: #f2f2f2;
}

/* Mobile */
.mobileMenu {
    background: white;
    min-height:  calc(100dvh - 56px);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.mobileSearchContainer {
    display: flex;
    align-items: center;
    position: relative;
    /* max-width: 500px; */
}

.mobileSearchInput {
    width: 100%;
    padding: 0.5rem 2rem 0.5rem 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.mobileSearchIcon {
    position: absolute;
    right: 0.75rem;
    color: #999;
}

.mobileMenuItem {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.menuRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}

.mobileMenuLink {
    font-weight: 600;
    color: #333;
    text-decoration: none;
    cursor: pointer;

    display: flex;
    align-items: center;
    gap: 5px;
}

.icon {
  vertical-align: middle;
  display: inline-block;
}

.chevronBtn {
  background: none;
  border: none;
  padding: 4px;
  cursor: pointer;
}

.chevron {
  transition: transform 0.3s ease;
  color: #555;
}

.rotate {
  transform: rotate(180deg);
}
.mobileDropdown {
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.mobileSubLink {
    font-size: 0.9rem;
    color: #666;
    text-decoration: none;

    display: flex;
    align-items: center;
    gap: 5px;
}

.mobileContactBtn {
    margin-top: auto;
    background-color: #000;
    color: #fff;
    padding: 0.75rem;
    text-align: center;
    border-radius: 4px;
    text-decoration: none;
}


@media (min-width: 769px) and (max-width: 1275px) {
    .topBar {
        padding: 12px 20px;
    }

    .menuBar {
        padding: 12px 20px;
    }
    
    .menuLink {
        font-size: 10px;
    }

    .dropdown {
        top: 29px;
        left: 50%;
        transform: translateX(-50%);
    }

    /* First menu item */
    .menuItem:first-child .dropdown {
        left: 0;
        right: auto;
        transform: none;
    }

    /* Last menu item */
    .menuItem:last-child .dropdown {
        right: 0;
        left: auto;
        transform: none;
    }

    .dropdown a {
        font-size: 10px;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .topBar {
        padding: 12px 20px;
    }
}

@media (max-width: 480px) {
    .topBar {
        padding: 12px 20px;
    }

}
